<%- contentFor( 'body') %>

<div class="table-responsive-xl ">
    
    <h2>Cadastrar novo usuário</h2>

    <% let linkAdd="/cadastro/add/"; %>

    <form name="cadastro" action="#">
        <div class="form-group">
            <label for="_name">Nome:</label>
            <input type="text" name="_name" id="_name" class="form-control">
        </div>

        <div class="form-group">
            <label for="_email">E-mail:</label>
            <input type="text" name="_email" id="_email" class="form-control">
        </div>

        <div class="form-group">
            <label for="_address">Endereço:</label>
            <input type="text" name="_address" id="_address" class="form-control">
        </div>

        <div class="form-group">
            <label for="_age">Idade:</label>
            <input type="number" name="_age" id="_age" class="form-control">
        </div>

        <div class="form-group">
            <label for="_heigth">Altura:</label>
            <input type="number" name="_heigth" id="_height" class="form-control">
        </div>

        <div class="form-group">
            <label for="_vote">Votou:</label>
            <input type="checkbox" name="_vote" id="_vote" class="form-control">
        </div>

        <div class="form-group">
            <input type="button" onclick="add(document.cadastro,'<%=linkAdd%>')" value="Enviar"  class="btn btn-success">
        </div>

    </form>

    <br>
    <hr>
    <br>
    <!-- Nova tabela criada ao fim da página, será usada para listagem de usuários! -->
    <div class="table-responsive-xl ">
        <h2>Lista de Usuários</h2>
        <p>Lista de usuários Cadastrados no sistema.</p>            
        <table class="table table-hover bg-light" id="list-users">
            <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Endereço</th>
                <th>Idade</th>
                <th>Altura</th>
                <th>Vota?</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    
</div>



